<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=LAPTOP-M82ODDR5;Initial Catalog=PHANMEM;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
 
</configuration>